In [10]:
from scipy.stats import shapiro # 정규성 검정
from scipy.stats import ttest_ind, ttest_rel, bartlett
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [9]:
transaction_df = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/상업업무용(매매)_실거래가_20240317102917.csv", skiprows = 12)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 16, saw 21

In [6]:
transaction_df.head()

,8,서울특별시 성동구 옥수동,집합,1***,한림말길,제3종일반주거,기타,25m미만,37.20,,...,2,-,-.1,202309,19,Unnamed: 16,1998,-.2,중개거래,서울 성동구
0,9,서울특별시 성동구 옥수동,집합,4***,독서당로40길,제3종일반주거,제1종근린생활,25m미만,6.61,,...,NaN,-,-,202310,5,NaN,1990.0,-,중개거래,서울 강남구
1,10,서울특별시 성동구 옥수동,집합,2***,독서당로,제2종일반주거,제2종근린생활,25m이상,46.49,,...,6.0,-,-,202310,31,지분,2020.0,20231124,직거래,-
2,11,서울특별시 성동구 옥수동,집합,2***,독서당로,제2종일반주거,제2종근린생활,25m이상,119.28,,...,NaN,-,-,202310,31,지분,2020.0,20231124,직거래,-
3,12,서울특별시 성동구 옥수동,집합,1***,한림말길,제3종일반주거,제2종근린생활,25m미만,9.41,,...,NaN,-,-,202306,2,NaN,1998.0,-,직거래,-
4,13,서울특별시 성동구 옥수동,집합,1***,한림말길,제3종일반주거,제2종근린생활,25m미만,9.39,,...,4.0,-,-,202305,12,NaN,1998.0,-,직거래,-

In [11]:
file_path = "C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/상업업무용(매매)_실거래가_20240317102917.csv"

In [14]:
f = open(file_path, encoding = "utf8")
reader = csv.reader(f)

In [15]:
csv_list = []
for i in reader:
    csv_list.append(i)
    
f.close()

In [37]:
transaction_df = pd.DataFrame(csv_list[15:])

In [41]:
transaction_df.columns

RangeIndex(start=0, stop=21, step=1)

In [57]:
new_columns_dict = {i : transaction_df.iloc[0, i] for i in range(0, 21)}

In [55]:
transaction_df.iloc[0, 1]

'시군구'

In [58]:
new_columns_dict

{0: 'NO',
 1: '시군구',
 2: '유형',
 3: '지번',
 4: '도로명',
 5: '용도지역',
 6: '건축물주용도',
 7: '도로조건',
 8: '전용/연면적(㎡)',
 9: '대지면적(㎡)',
 10: '거래금액(만원)',
 11: '층',
 12: '매수',
 13: '매도',
 14: '계약년월',
 15: '계약일',
 16: '지분구분',
 17: '건축년도',
 18: '해제사유발생일',
 19: '거래유형',
 20: '중개사소재지'}

In [62]:
transaction_df = transaction_df.rename(columns = new_columns_dict).iloc[1:, :]

In [65]:
transaction_df = transaction_df.iloc[:, 1:]

In [66]:
transaction_df.head().iloc[:, ]

,시군구,유형,지번,도로명,용도지역,건축물주용도,도로조건,전용/연면적(㎡),대지면적(㎡),거래금액(만원),층,매수,매도,계약년월,계약일,지분구분,건축년도,해제사유발생일,거래유형,중개사소재지
1,서울특별시 성동구 옥수동,일반,4***,독서당로40길,제3종일반주거,제1종근린생활,-,6.16,11.4600,"24,000",,개인,법인,202401,06,,1990,-,중개거래,서울 강남구
2,서울특별시 성동구 옥수동,일반,2***,독서당로,제2종일반주거,제1종근린생활,-,2119.97,638.0000,"2,292,445",,법인,법인,202401,11,,2020,-,중개거래,서울 강남구
3,서울특별시 성동구 옥수동,일반,2***,한림말3길,제2종일반주거,제2종근린생활,12m미만,462.65,193.0000,"550,000",,-,-,202308,10,,2020,-,중개거래,서울 강남구
4,서울특별시 성동구 옥수동,집합,1***,한림말길,제3종일반주거,제2종근린생활,25m미만,9.52,,"22,000",,-,-,202305,30,,1998,-,직거래,-
5,서울특별시 성동구 옥수동,집합,1***,한림말길,제3종일반주거,제2종근린생활,25m미만,9.52,,"24,000",,-,-,202307,13,,1998,-,직거래,-