In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sklearn.preprocessing import MinMaxScaler

In [2]:
scaler = MinMaxScaler()

In [3]:
# 자치구별 임대료 / 면적 데이터
seoul_district = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/seoul_district.csv")

In [4]:
# 자치구별 유동인구 종합 데이터
float_pop_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/유동인구종합.csv")

In [5]:
# 자치구별 건물연식 종합 데이터
district_age_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/district_age_data.csv")

In [6]:
# 자치구별 연령대 인구 데이터
seoul_pop_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/seoul_pop.csv")

In [7]:
# 자치구별 소득 데이터
seoul_income_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/seoul_income.csv")

In [8]:
# 자치구별 종사자, 사업체 수 데이터
employee_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/employee_data.csv")

In [9]:
# 자치구별 스타벅스 매장 수 데이터
starbucks_data = pd.read_csv("C:/Users/ITSC/Desktop/MiniPrj2/Git/Data/starbucks_data.csv")

## 임대료 데이터 요약 전처리

In [10]:
seoul_district = seoul_district.iloc[:, [0, 1, 3, 10, 12]]

In [11]:
seoul_district = seoul_district.rename(columns = {"Unnamed: 0" : "index"})

In [12]:
seoul_district = seoul_district.iloc[:, 1:].reset_index()

In [13]:
seoul_district

    index   자치구  중대형 1층  소형 1층  면적 (km²)
0       0   강남구   64.54  64.67     39.50
1       1   강동구   47.20  56.10     24.59
2       2   강북구   45.93  42.60     23.60
3       3   강서구   35.20  28.70     41.45
4       4   관악구   72.80  65.75     29.57
5       5   광진구   52.55  39.40     17.06
6       6   구로구   45.20  47.10     20.12
7       7   금천구   33.20  31.20     13.02
8       8   노원구   29.60  26.00     35.44
9       9  동대문구   44.32  42.40     14.22
10     10   동작구   53.75  35.35     16.36
11     11   마포구   45.32  50.92     23.85
12     12  서대문구   63.20  45.40     17.63
13     13   서초구   33.20  40.00     46.97
14     14   성동구   44.55  48.00     16.82
15     15   송파구   39.97  32.50     33.88
16     16   양천구   33.80  35.10     17.41
17     17  영등포구   34.60  35.60     24.55
18     18   용산구   40.60  45.90     21.87
19     19   은평구   46.10  40.60     29.71
20     20   종로구   73.67  67.53     23.91
21     21    중구   86.38  80.60      9.96
22     22   중랑구   38.00  46.50     18.50

In [99]:
seoul_district2 = pd.DataFrame(scaler.fit_transform(seoul_district.iloc[:, [2, 3]]))

In [102]:
seoul_district2 = seoul_district2.rename(columns = {0 : "중대형 정규화", 1 : "소형 정규화"})

In [104]:
seoul_district2["자치구"] = seoul_district["자치구"]

In [107]:
seoul_district2 = seoul_district2.iloc[:, [2, 0, 1]]

In [108]:
seoul_district2

     자치구   중대형 정규화    소형 정규화
0    강남구  0.615358  0.708242
1    강동구  0.309968  0.551282
2    강북구  0.287601  0.304029
3    강서구  0.098626  0.049451
4    관악구  0.760831  0.728022
5    광진구  0.404192  0.245421
6    구로구  0.274745  0.386447
7    금천구  0.063403  0.095238
8    노원구  0.000000  0.000000
9   동대문구  0.259246  0.300366
10   동작구  0.425326  0.171245
11   마포구  0.276858  0.456410
12  서대문구  0.591758  0.355311
13   서초구  0.063403  0.256410
14   성동구  0.263297  0.402930
15   송파구  0.182635  0.119048
16   양천구  0.073970  0.166667
17  영등포구  0.088059  0.175824
18   용산구  0.193730  0.364469
19   은평구  0.290595  0.267399
20   종로구  0.776154  0.760623
21    중구  1.000000  1.000000
22   중랑구  0.147939  0.375458

## 유동인구를 근거로 상권 임대료 평가

In [14]:
float_pop_data2 = float_pop_data.iloc[:, 12].reset_index()

In [15]:
float_pop_data2 = pd.merge(seoul_district, float_pop_data2, on = "index", how = "inner")

In [16]:
float_pop_data2.drop(21)

    index   자치구  중대형 1층  소형 1층  면적 (km²)      종합/면적
0       0   강남구   64.54  64.67     39.50  1265358.0
1       1   강동구   47.20  56.10     24.59   524493.0
2       2   강북구   45.93  42.60     23.60   643757.0
3       3   강서구   35.20  28.70     41.45   515846.0
4       4   관악구   72.80  65.75     29.57   794169.0
5       5   광진구   52.55  39.40     17.06   991992.0
6       6   구로구   45.20  47.10     20.12  1089458.0
7       7   금천구   33.20  31.20     13.02   956760.0
8       8   노원구   29.60  26.00     35.44   545175.0
9       9  동대문구   44.32  42.40     14.22  1238371.0
10     10   동작구   53.75  35.35     16.36  1385262.0
11     11   마포구   45.32  50.92     23.85  1219940.0
12     12  서대문구   63.20  45.40     17.63  1006588.0
13     13   서초구   33.20  40.00     46.97   712862.0
14     14   성동구   44.55  48.00     16.82  1089352.0
15     15   송파구   39.97  32.50     33.88   969803.0
16     16   양천구   33.80  35.10     17.41   827074.0
17     17  영등포구   34.60  35.60     24.55  1292575.0
18     18   용산구   40.60  45.90     21.87  1039013.0
19     19   은평구   46.10  40.60     29.71   626412.0
20     20   종로구   73.67  67.53     23.91  1151200.0
22     22   중랑구   38.00  46.50     18.50   661976.0

In [17]:
float_pop_data3 = pd.concat([float_pop_data2.drop(21).reset_index(drop = True), pd.DataFrame(scaler.fit_transform(float_pop_data2.drop(21).iloc[:, 2:]))], axis = 1)

In [18]:
float_pop_data3 = float_pop_data3.rename(columns = {0 : "중대형 정규화", 1 : "소형 정규화", 3 : "유동 정규화"}).iloc[:, [1, 2, 3, 4, 5, 6, 7, 9]]

In [19]:
float_pop_data3["중대형 평가"] = float_pop_data3["유동 정규화"] - float_pop_data3["중대형 정규화"]
float_pop_data3["소형 평가"] = float_pop_data3["유동 정규화"] - float_pop_data3["소형 정규화"]

In [160]:
float_pop_data3.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

,자치구,중대형 1층,소형 1층,면적 (km²),종합/면적,중대형 정규화,소형 정규화,유동 정규화,중대형 평가,소형 평가
0,영등포구,34.60,35.60,24.55,1292575.0,0.113456,0.231158,0.893392,0.779936,0.662233
1,동대문구,44.32,42.40,14.22,1238371.0,0.334014,0.394895,0.831046,0.497032,0.436151
2,마포구,45.32,50.92,23.85,1219940.0,0.356705,0.600048,0.809847,0.453142,0.209799
3,동작구,53.75,35.35,16.36,1385262.0,0.547992,0.225138,1.000000,0.452008,0.774862
4,금천구,33.20,31.20,13.02,956760.0,0.081688,0.125211,0.507138,0.425450,0.381927
5,용산구,40.60,45.90,21.87,1039013.0,0.249603,0.479172,0.601745,0.352142,0.122574
6,성동구,44.55,48.00,16.82,1089352.0,0.339233,0.529738,0.659645,0.320412,0.129908
7,구로구,45.20,47.10,20.12,1089458.0,0.353982,0.508066,0.659767,0.305785,0.151701
8,송파구,39.97,32.50,33.88,969803.0,0.235307,0.156513,0.522140,0.286833,0.365627
9,양천구,33.80,35.10,17.41,827074.0,0.095303,0.219119,0.357974,0.262671,0.138855
10,서초구,33.20,40.00,46.97,712862.0,0.081688,0.337106,0.226607,0.144919,-0.110498
11,강남구,64.54,64.67,39.50,1265358.0,0.792830,0.931134,0.862087,0.069257,-0.069047
12,노원구,29.60,26.00,35.44,545175.0,0.000000,0.000000,0.033734,0.033734,0.033734
13,광진구,52.55,39.40,17.06,991992.0,0.520762,0.322658,0.547662,0.026899,0.225004
14,중랑구,38.00,46.50,18.50,661976.0,0.190606,0.493619,0.168078,-0.022528,-0.325541
15,강서구,35.20,28.70,41.45,515846.0,0.127071,0.065013,0.000000,-0.127071,-0.065013
16,서대문구,63.20,45.40,17.63,1006588.0,0.762423,0.467132,0.564450,-0.197973,0.097318
17,강북구,45.93,42.60,23.60,643757.0,0.370547,0.399711,0.147123,-0.223424,-0.252588
18,은평구,46.10,40.60,29.71,626412.0,0.374404,0.351553,0.127173,-0.247232,-0.224380
19,종로구,73.67,67.53,23.91,1151200.0,1.000000,1.000000,0.730783,-0.269217,-0.269217
20,강동구,47.20,56.10,24.59,524493.0,0.399365,0.724777,0.009946,-0.389419,-0.714832
21,관악구,72.80,65.75,29.57,794169.0,0.980259,0.957139,0.320126,-0.660132,-0.637013

In [161]:
float_pop_data4 = float_pop_data3.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

In [166]:
float_pop_data4 = float_pop_data4.iloc[:, [0, -2, -1]]

## 자치구 건물 연식을 근거로 상권 임대료 평가

In [69]:
district_age_data2 = district_age_data.iloc[:, [0, 2]].rename(columns = {"Unnamed: 0" : "index"})

In [70]:
district_age_data2 = pd.merge(seoul_district, district_age_data2, on = "index", how = "inner")

In [71]:
district_age_data2 = district_age_data2.iloc[:, [0, 2, 3, 5]]

In [80]:
district_age_data2

    index  중대형 1층  소형 1층     연식
0       0   64.54  64.67  25.41
1       1   47.20  56.10  23.02
2       2   45.93  42.60  19.93
3       3   35.20  28.70  11.73
4       4   72.80  65.75  22.33
5       5   52.55  39.40  25.18
6       6   45.20  47.10  25.36
7       7   33.20  31.20  15.67
8       8   29.60  26.00  26.98
9       9   44.32  42.40  30.31
10     10   53.75  35.35  23.79
11     11   45.32  50.92  23.47
12     12   63.20  45.40  23.15
13     13   33.20  40.00  27.33
14     14   44.55  48.00  22.62
15     15   39.97  32.50  22.42
16     16   33.80  35.10  23.75
17     17   34.60  35.60  28.55
18     18   40.60  45.90  29.97
19     19   46.10  40.60  16.37
20     20   73.67  67.53  25.03
21     21   86.38  80.60  33.14
22     22   38.00  46.50  14.01

In [73]:
seoul_district.iloc[:, :2]

    index   자치구
0       0   강남구
1       1   강동구
2       2   강북구
3       3   강서구
4       4   관악구
5       5   광진구
6       6   구로구
7       7   금천구
8       8   노원구
9       9  동대문구
10     10   동작구
11     11   마포구
12     12  서대문구
13     13   서초구
14     14   성동구
15     15   송파구
16     16   양천구
17     17  영등포구
18     18   용산구
19     19   은평구
20     20   종로구
21     21    중구
22     22   중랑구

In [74]:
district_age_data3 = pd.concat([seoul_district.iloc[:, :2], pd.DataFrame(scaler.fit_transform(district_age_data2.iloc[:, 1:])).rename(columns = {0 : "중대형 정규화", 1 : "소형 정규화", 2 : "연식 정규화"})], axis = 1)

In [77]:
district_age_data3["중대형 평가"] = round(district_age_data3["연식 정규화"] - district_age_data3["중대형 정규화"], 4)
district_age_data3["소형 평가"] = round(district_age_data3["연식 정규화"] - district_age_data3["소형 정규화"], 4)

In [159]:
district_age_data3.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

    index   자치구   중대형 정규화    소형 정규화    연식 정규화  중대형 평가   소형 평가
0       8   노원구  0.000000  0.000000  0.712284  0.7123  0.7123
1      17  영등포구  0.088059  0.175824  0.785614  0.6976  0.6098
2      13   서초구  0.063403  0.256410  0.728631  0.6652  0.4722
3      18   용산구  0.193730  0.364469  0.851938  0.6582  0.4875
4       9  동대문구  0.259246  0.300366  0.867819  0.6086  0.5675
5      16   양천구  0.073970  0.166667  0.561420  0.4875  0.3948
6       6   구로구  0.274745  0.386447  0.636618  0.3619  0.2502
7      15   송파구  0.182635  0.119048  0.499299  0.3167  0.3803
8      11   마포구  0.276858  0.456410  0.548342  0.2715  0.0919
9      14   성동구  0.263297  0.402930  0.508641  0.2453  0.1057
10      5   광진구  0.404192  0.245421  0.628211  0.2240  0.3828
11      1   강동구  0.309968  0.551282  0.527324  0.2174 -0.0240
12     10   동작구  0.425326  0.171245  0.563288  0.1380  0.3920
13      7   금천구  0.063403  0.095238  0.184026  0.1206  0.0888
14      2   강북구  0.287601  0.304029  0.382999  0.0954  0.0790
15      0   강남구  0.615358  0.708242  0.638954  0.0236 -0.0693
16     21    중구  1.000000  1.000000  1.000000 -0.0000  0.0000
17     22   중랑구  0.147939  0.375458  0.106492 -0.0414 -0.2690
18     12  서대문구  0.591758  0.355311  0.533396 -0.0584  0.1781
19     19   은평구  0.290595  0.267399  0.216721 -0.0739 -0.0507
20      3   강서구  0.098626  0.049451  0.000000 -0.0986 -0.0495
21     20   종로구  0.776154  0.760623  0.621205 -0.1549 -0.1394
22      4   관악구  0.760831  0.728022  0.495096 -0.2657 -0.2329

## 자치구의 연령별 인구 비율을 근거로 임대료 평가

In [86]:
seoul_pop_data2 = seoul_pop_data.iloc[:, -7:-4]

In [89]:
seoul_pop_scaled = pd.DataFrame(scaler.fit_transform(seoul_pop_data2))

In [92]:
seoul_pop_scaled = seoul_pop_scaled.rename(columns = {0 : "30대", 1 : "40대", 2 : "50대"})

In [110]:
seoul_pop_data3 = pd.concat([seoul_district2, seoul_pop_scaled], axis = 1)

In [116]:
seoul_pop_data3["중대형 평가"] = seoul_pop_data3["중대형 정규화"] - 1 + seoul_pop_data3["50대"]
seoul_pop_data3["소형 평가"] = seoul_pop_data3["소형 정규화"] - 1 + seoul_pop_data3["50대"]

In [158]:
seoul_pop_data3.sort_values(by = "소형 평가").reset_index(drop = True)

     자치구   중대형 정규화    소형 정규화       30대       40대       50대    중대형 평가     소형 평가
0    강서구  0.098626  0.049451  0.517826  0.375531  0.301230 -0.600144 -0.649319
1    서초구  0.063403  0.256410  0.125609  0.211361  0.109979 -0.826619 -0.633611
2    노원구  0.000000  0.000000  0.302293  0.385209  0.427930 -0.572070 -0.572070
3    용산구  0.193730  0.364469  0.344997  0.211831  0.185940 -0.620330 -0.449591
4   영등포구  0.088059  0.175824  0.751367  0.452731  0.453112 -0.458829 -0.371064
5    강북구  0.287601  0.304029  0.223580  0.256902  0.337491 -0.374907 -0.358479
6    송파구  0.182635  0.119048  0.784161  0.693216  0.599630 -0.217735 -0.281322
7    금천구  0.063403  0.095238  0.772134  0.479652  0.657622 -0.278976 -0.247140
8    은평구  0.290595  0.267399  0.483080  0.459123  0.486181 -0.223224 -0.246420
9    종로구  0.776154  0.760623  0.000000  0.000000  0.000000 -0.223846 -0.239377
10   마포구  0.276858  0.456410  0.658221  0.473806  0.408239 -0.314903 -0.135350
11  서대문구  0.591758  0.355311  0.620468  0.514602  0.540113  0.131870 -0.104576
12   성동구  0.263297  0.402930  0.662484  0.484723  0.501171 -0.235532 -0.095898
13   광진구  0.404192  0.245421  0.861487  0.611137  0.661300  0.065491 -0.093279
14   동작구  0.425326  0.171245  1.000000  0.760806  0.772790  0.198116 -0.055964
15   강남구  0.615358  0.708242  0.401622  0.500587  0.347980 -0.036662  0.056222
16   구로구  0.274745  0.386447  0.818932  0.675557  0.723966 -0.001290  0.110413
17   관악구  0.760831  0.728022  0.769118  0.386659  0.386578  0.147409  0.114600
18   강동구  0.309968  0.551282  0.677676  0.657403  0.567760 -0.122272  0.119042
19  동대문구  0.259246  0.300366  0.959927  0.788694  0.825687  0.084933  0.126053
20   중랑구  0.147939  0.375458  0.803194  0.614919  0.758823 -0.093238  0.134281
21   양천구  0.073970  0.166667  0.768039  1.000000  1.000000  0.073970  0.166667
22    중구  1.000000  1.000000  0.491516  0.289248  0.304077  0.304077  0.304077

In [168]:
seoul_pop_data4 = seoul_pop_data3.sort_values(by = "소형 평가").reset_index(drop = True)

In [171]:
seoul_pop_data4 = seoul_pop_data4.iloc[:, [0, -2, -1]]

## 자치구별 소득 수준에 따른 임대료 평가

In [122]:
seoul_income_data2 = seoul_income_data.iloc[:, 2:]

In [133]:
seoul_income_data2

    지역내총생산(당해년가격) (백만원)  1인당 지역내총생산 (천원)
0              77924019           155358
1               9364063            20717
2               3462961            11754
3              18347568            32709
4               6347562            12792
5               6554954            18732
6              14663398            34144
7              17801015            71770
8               6728358            13331
9               7711273            22164
10              6712864            17250
11             21399314            58606
12              9039083            28793
13             38335706            96783
14             13999893            48682
15             31834324            50290
16              7356067            16897
17             44265877           109100
18             13294640            58918
19              5112192            11139
20             35719537           238599
21             61342710           481395
22              4860242            12742

In [128]:
seoul_income_data3 = pd.DataFrame(scaler.fit_transform(seoul_income_data2)).rename(columns = {0 : "지역내 총생산(100만)", 1 : "1인당 지역내 총생산(1천)"})

In [131]:
seoul_income_data4 = pd.concat([seoul_district2, seoul_income_data3], axis = 1)

In [132]:
seoul_income_data4

     자치구   중대형 정규화    소형 정규화  지역내 총생산(100만)  1인당 지역내 총생산(1천)
0    강남구  0.615358  0.708242       1.000000         0.306682
1    강동구  0.309968  0.551282       0.079251         0.020368
2    강북구  0.287601  0.304029       0.000000         0.001308
3    강서구  0.098626  0.049451       0.199898         0.045869
4    관악구  0.760831  0.728022       0.038740         0.003515
5    광진구  0.404192  0.245421       0.041525         0.016147
6    구로구  0.274745  0.386447       0.150420         0.048920
7    금천구  0.063403  0.095238       0.192558         0.128932
8    노원구  0.000000  0.000000       0.043854         0.004661
9   동대문구  0.259246  0.300366       0.057054         0.023445
10   동작구  0.425326  0.171245       0.043646         0.012995
11   마포구  0.276858  0.456410       0.240882         0.100939
12  서대문구  0.591758  0.355311       0.074886         0.037541
13   서초구  0.063403  0.256410       0.468335         0.182122
14   성동구  0.263297  0.402930       0.141509         0.079835
15   송파구  0.182635  0.119048       0.381023         0.083255
16   양천구  0.073970  0.166667       0.052284         0.012244
17  영등포구  0.088059  0.175824       0.547977         0.208314
18   용산구  0.193730  0.364469       0.132038         0.101602
19   은평구  0.290595  0.267399       0.022149         0.000000
20   종로구  0.776154  0.760623       0.433201         0.483694
21    중구  1.000000  1.000000       0.777316         1.000000
22   중랑구  0.147939  0.375458       0.018765         0.003409

In [134]:
seoul_income_data4["중대형 평가"] = seoul_income_data4["1인당 지역내 총생산(1천)"] - seoul_income_data4["중대형 정규화"]
seoul_income_data4["소형 평가"] = seoul_income_data4["1인당 지역내 총생산(1천)"] - seoul_income_data4["중대형 정규화"]

In [156]:
seoul_income_data4.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

,자치구,중대형 정규화,소형 정규화,지역내 총생산(100만),1인당 지역내 총생산(1천),중대형 평가,소형 평가
0,영등포구,0.088059,0.175824,0.547977,0.208314,0.120255,0.120255
1,서초구,0.063403,0.256410,0.468335,0.182122,0.118719,0.118719
2,금천구,0.063403,0.095238,0.192558,0.128932,0.065529,0.065529
3,노원구,0.000000,0.000000,0.043854,0.004661,0.004661,0.004661
4,중구,1.000000,1.000000,0.777316,1.000000,0.000000,0.000000
5,강서구,0.098626,0.049451,0.199898,0.045869,-0.052758,-0.052758
6,양천구,0.073970,0.166667,0.052284,0.012244,-0.061725,-0.061725
7,용산구,0.193730,0.364469,0.132038,0.101602,-0.092128,-0.092128
8,송파구,0.182635,0.119048,0.381023,0.083255,-0.099380,-0.099380
9,중랑구,0.147939,0.375458,0.018765,0.003409,-0.144531,-0.144531
10,마포구,0.276858,0.456410,0.240882,0.100939,-0.175919,-0.175919
11,성동구,0.263297,0.402930,0.141509,0.079835,-0.183462,-0.183462
12,구로구,0.274745,0.386447,0.150420,0.048920,-0.225824,-0.225824
13,동대문구,0.259246,0.300366,0.057054,0.023445,-0.235802,-0.235802
14,강북구,0.287601,0.304029,0.000000,0.001308,-0.286293,-0.286293
15,강동구,0.309968,0.551282,0.079251,0.020368,-0.289601,-0.289601
16,은평구,0.290595,0.267399,0.022149,0.000000,-0.290595,-0.290595
17,종로구,0.776154,0.760623,0.433201,0.483694,-0.292460,-0.292460
18,강남구,0.615358,0.708242,1.000000,0.306682,-0.308676,-0.308676
19,광진구,0.404192,0.245421,0.041525,0.016147,-0.388045,-0.388045
20,동작구,0.425326,0.171245,0.043646,0.012995,-0.412331,-0.412331
21,서대문구,0.591758,0.355311,0.074886,0.037541,-0.554216,-0.554216
22,관악구,0.760831,0.728022,0.038740,0.003515,-0.757316,-0.757316

In [173]:
seoul_income_data5 = seoul_income_data4.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

In [176]:
seoul_income_data5 = seoul_income_data5.iloc[:, [0, -2, -1]]

## 종사자수/자치구별 인구 기준으로 상가 임대료 평가

In [141]:
employee_data2 = employee_data.loc[employee_data["자치구"].isin(seoul_district["자치구"])].reset_index(drop = True).iloc[:, [5, 8]]

In [145]:
employee_data2

    종사자밀도(A)  종사자수/자치구별인구
0   11502.69       182.82
1   38810.63       293.31
2    6979.05        67.20
3   12053.51        71.36
4    7601.65        36.93
5   10297.20        40.68
6    6117.35        29.20
7    3399.17        27.38
8    3764.14        26.52
9    3669.78        23.16
10   6709.03        36.88
11  11731.11        74.58
12   7685.76        30.46
13   7007.42        51.07
14  11963.21        57.91
15  19619.01       105.95
16  17720.92       109.36
17   6681.80        28.04
18   4343.06        25.79
19  10386.53       118.42
20  20290.37       145.64
21  11830.46        60.72
22   6403.49        33.99

In [148]:
employee_data3 = pd.concat([seoul_district2, pd.DataFrame(scaler.fit_transform(employee_data2)).rename(columns = {0 : "종사자 밀도", 1 : "종사자수/인구"})], axis = 1)

In [150]:
employee_data3["중대형 평가"] = employee_data3["종사자수/인구"] - employee_data3["중대형 정규화"]
employee_data3["소형 평가"] = employee_data3["종사자수/인구"] - employee_data3["중대형 정규화"]

In [157]:
employee_data3.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

     자치구   중대형 정규화    소형 정규화    종사자 밀도   종사자수/인구    중대형 평가     소형 평가
0    강동구  0.309968  0.551282  1.000000  1.000000  0.690032  0.690032
1    양천구  0.073970  0.166667  0.404438  0.319082  0.245112  0.245112
2    송파구  0.182635  0.119048  0.458039  0.306459  0.123825  0.123825
3    강서구  0.098626  0.049451  0.244394  0.178419  0.079793  0.079793
4    은평구  0.290595  0.267399  0.197319  0.352619  0.062024  0.062024
5    서초구  0.063403  0.256410  0.101895  0.103313  0.039910  0.039910
6    노원구  0.000000  0.000000  0.010307  0.012438  0.012438  0.012438
7    강남구  0.615358  0.708242  0.228839  0.591005 -0.024353 -0.024353
8    금천구  0.063403  0.095238  0.000000  0.015621 -0.047782 -0.047782
9   영등포구  0.088059  0.175824  0.092700  0.018064 -0.069995 -0.069995
10   마포구  0.276858  0.456410  0.235289  0.190339 -0.086519 -0.086519
11   중랑구  0.147939  0.375458  0.084840  0.040089 -0.107851 -0.107851
12   강북구  0.287601  0.304029  0.101094  0.163021 -0.124581 -0.124581
13   성동구  0.263297  0.402930  0.241844  0.128632 -0.134665 -0.134665
14   용산구  0.193730  0.364469  0.026655  0.009735 -0.183995 -0.183995
15   구로구  0.274745  0.386447  0.076760  0.022358 -0.252387 -0.252387
16  동대문구  0.259246  0.300366  0.007642  0.000000 -0.259246 -0.259246
17   종로구  0.776154  0.760623  0.476998  0.453378 -0.322776 -0.322776
18   광진구  0.404192  0.245421  0.194797  0.064853 -0.339339 -0.339339
19   동작구  0.425326  0.171245  0.093469  0.050787 -0.374539 -0.374539
20  서대문구  0.591758  0.355311  0.121051  0.027022 -0.564736 -0.564736
21   관악구  0.760831  0.728022  0.118676  0.050972 -0.709860 -0.709860
22    중구  1.000000  1.000000  0.238095  0.139034 -0.860966 -0.860966

In [179]:
employee_data4 = employee_data3.sort_values(by = "중대형 평가", ascending = False).reset_index(drop = True)

In [182]:
employee_data4 = employee_data4.iloc[:, [0, -2, -1]]

## 종합점수 매기기

In [202]:
float_pop_data4.iloc[:, :1].reset_index()

    index   자치구
0       0  영등포구
1       1  동대문구
2       2   마포구
3       3   동작구
4       4   금천구
5       5   용산구
6       6   성동구
7       7   구로구
8       8   송파구
9       9   양천구
10     10   서초구
11     11   강남구
12     12   노원구
13     13   광진구
14     14   중랑구
15     15   강서구
16     16  서대문구
17     17   강북구
18     18   은평구
19     19   종로구
20     20   강동구
21     21   관악구

In [203]:
seoul_pop_data4.iloc[:, :1].reset_index()

    index   자치구
0       0   강서구
1       1   서초구
2       2   노원구
3       3   용산구
4       4  영등포구
5       5   강북구
6       6   송파구
7       7   금천구
8       8   은평구
9       9   종로구
10     10   마포구
11     11  서대문구
12     12   성동구
13     13   광진구
14     14   동작구
15     15   강남구
16     16   구로구
17     17   관악구
18     18   강동구
19     19  동대문구
20     20   중랑구
21     21   양천구
22     22    중구

In [204]:
seoul_income_data5.iloc[:, :1].reset_index()

    index   자치구
0       0  영등포구
1       1   서초구
2       2   금천구
3       3   노원구
4       4    중구
5       5   강서구
6       6   양천구
7       7   용산구
8       8   송파구
9       9   중랑구
10     10   마포구
11     11   성동구
12     12   구로구
13     13  동대문구
14     14   강북구
15     15   강동구
16     16   은평구
17     17   종로구
18     18   강남구
19     19   광진구
20     20   동작구
21     21  서대문구
22     22   관악구

In [205]:
employee_data4.iloc[:, :1].reset_index()

    index   자치구
0       0   강동구
1       1   양천구
2       2   송파구
3       3   강서구
4       4   은평구
5       5   서초구
6       6   노원구
7       7   강남구
8       8   금천구
9       9  영등포구
10     10   마포구
11     11   중랑구
12     12   강북구
13     13   성동구
14     14   용산구
15     15   구로구
16     16  동대문구
17     17   종로구
18     18   광진구
19     19   동작구
20     20  서대문구
21     21   관악구
22     22    중구

In [209]:
final = pd.merge(seoul_pop_data4.iloc[:, :1].reset_index(), float_pop_data4.iloc[:, :1].reset_index(), on = "자치구", how = "left").fillna(11)

In [212]:
final = final.rename(columns = {"index_x" : "pop_rank", "index_y" : "floatpop_rank"})

In [216]:
final = pd.merge(final, seoul_income_data5.iloc[:, :1].reset_index(), on = "자치구", how = "inner").rename(columns = {"index" : "income_rank"})

In [220]:
final = pd.merge(final, employee_data4.iloc[:, :1].reset_index(), on = "자치구", how = "inner").rename(columns = {"index" : "employee_rank"})

In [224]:
final = final.iloc[:, [1, 0, 2, 3, 4]]

In [231]:
final["overrated_point"] = final.iloc[:, 1:].sum(axis = 1)

C:\Users\ITSC\AppData\Local\Temp\ipykernel_10976\3745164652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["overrated_point"] = final.iloc[:, 1:].sum(axis = 1)

In [236]:
final = final.sort_values(by = "overrated_point").reset_index(drop = True)

In [238]:
final.to_csv("./conclusion.csv")

In [239]:
final

     자치구  pop_rank  floatpop_rank  income_rank  employee_rank  overrated_point
0   영등포구         4            0.0            0              9             13.0
1    서초구         1           10.0            1              5             17.0
2    금천구         7            4.0            2              8             21.0
3    강서구         0           15.0            5              3             23.0
4    노원구         2           12.0            3              6             23.0
5    송파구         6            8.0            8              2             24.0
6    용산구         3            5.0            7             14             29.0
7    마포구        10            2.0           10             10             32.0
8    양천구        21            9.0            6              1             37.0
9    성동구        12            6.0           11             13             42.0
10   은평구         8           18.0           16              4             46.0
11   강북구         5           17.0           14             12             48.0
12  동대문구        19            1.0           13             16             49.0
13   구로구        16            7.0           12             15             50.0
14   강남구        15           11.0           18              7             51.0
15   강동구        18           20.0           15              0             53.0
16   중랑구        20           14.0            9             11             54.0
17   동작구        14            3.0           20             19             56.0
18    중구        22           11.0            4             22             59.0
19   종로구         9           19.0           17             17             62.0
20   광진구        13           13.0           19             18             63.0
21  서대문구        11           16.0           21             20             68.0
22   관악구        17           21.0           22             21             81.0